
@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="text-center">
    <h1 class="text-danger">Erişim Engellendi</h1>
    <h6 class="text-danger">Bu içeriği görmek için gerekli izne sahip değilsiniz.</h6>
    <img src="~/Img/noaccess.png" style="height:300px; width:300px" />
</div>
<div class="my-4">

</div>

