@{
    ViewData["Title"] = "Şifremi Unuttum Doğrulama";
}

<div class="container d-flex justify-content-center my-5">
		<div class="row">
			<h1>Şifremi Unuttum Doğrulama</h1>
			<h3><a href="#" class="font-pt mb-2">Şifreni yenilemek için email'ini kontrol et.</a></h3>
		</div>
</div>
