@model LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Giriş Yap";
}

<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-form-09/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/login-form-09/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-form-09/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/login-form-09/css/style.css">

    <title>Şifremi Unuttum</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <a asp-controller="Account" asp-action="Login">Veya başka bir kullanıcı olarak Giriş Yap!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
