@{
    ViewData["Title"] = "Şifre Yenileme Onay";
}

<div class="container d-flex justify-content-center my-5">
		<div class="row">
			<h1>Şifre Yenileme Onay</h1>
			<h3><a href="#" class="font-pt mb-2">Şifreniz başarıya yenilendi!</a></h3>
		</div>
</div>