@model IEnumerable<Category>

<li class="nav-item active">
	<a asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
	<a asp-controller="Home" asp-action="AboutUs" class="nav-link">Hakkımızda</a>
</li>
<li class="nav-item">
	<a asp-controller="News" asp-action="Index" class="nav-link">Haberler</a>
</li>
<li class="nav-item">
	<a asp-controller="Home" asp-action="Contact" class="nav-link">İletişim</a>
</li>

@foreach (var anaKategori in Model.Where(c => c.IsActive && c.ParentId == 0 && c.IsTopMenu).OrderBy(c => c.OrderNo))
{
	<li class="nav-item dropdown">
		<a href="/category/category-slug/@anaKategori.Id" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@anaKategori.Name</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			@foreach (var altKategori in Model.Where(c => c.IsActive && c.ParentId == anaKategori.Id && c.IsTopMenu).OrderBy(c => c.OrderNo))
			{
				<a class="dropdown-item" href="/Category/Index/@altKategori.Id">@altKategori.Name</a>
			}
		</div>
	</li>
}





