@model NewsDetailViewModel

@{
	ViewData["Title"] = Model.News.Title;
}

<section class="single-post-area">
	<!-- Single Post Title -->
	<div class="single-post-title bg-img background-overlay" style="background-image: url('/Img/@Model.News.ImagePath')">
		<div class="container h-100">
			<div class="row h-100 align-items-end">
				<div class="col-12">
					<div class="single-post-title-content">
						<!-- Post Tag -->
						<div class="gazette-post-tag">
							<a href="/Category/Index/@Model.News.Category.Id">@Model.News.Category.Name</a>
						</div>
						<h2 class="font-pt">@Model.News.Title</h2>
						<p>@String.Format("{0: dd MMMM yyyy}", Model.News.CreatedAt)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="single-post-contents">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="single-post-text">
						<p>@Model.News.Content</p>
						@*<p>nec, cursus nec ante. Vestibulum sed velit scelerisque elit posuere vulputate vel viverra quam. Curabitur laoreet aliquam diam, non mattis arcu feugiat sed. Sed eget pellentesque lacus. Pellentesque in diam vel mauris pretium commodo a ac magna. Suspendisse scelerisque tellus convallis tortor posuere, ut commodo diam blandit. Morbi vel nulla non turpis luctus tempor eu eu urna. Aliquam in lorem a augue mollis volutpat. Nunc iaculis rutrum enim nec viverra. Morbi eleifend metus id tellus luctus, ac porta orci imperdiet.</p>
						<p>Morbi efficitur ligula a efficitur mollis. Suspendisse vitae sapien vitae urna eleifend dapibus ut non tortor. In nec metus ac mi ultrices commodo interdum et lacus. Suspendisse potenti. Suspendisse interdum semper dolor nec posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut orci non tortor pretium hendrerit at vel massa. Nunc ut fermentum felis.</p>*@
					</div>
				</div>
				<div class="col-12">
					<div class="single-post-thumb">
						<img src="/Img/@Model.News.ImagePath" alt="" style="width: 1110px; height: 740px;">
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="single-post-text">
						@*<p>Suspendisse scelerisque tellus convallis tortor posuere, ut commodo diam blandit. Morbi vel nulla non turpis luctus tempor eu eu urna. Aliquam in lorem a augue mollis volutpat. Nunc iaculis rutrum enim nec viverra. Morbi eleifend metus id tellus luctus, ac porta orci imperdiet.</p>
						<p>Morbi efficitur ligula a efficitur mollis. Suspendisse vitae sapien vitae urna eleifend dapibus ut non tortor. In nec metus ac mi ultrices commodo interdum et lacus. Suspendisse potenti. Suspendisse interdum semper dolor nec posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut orci non tortor pretium hendrerit at vel massa. Nunc ut fermentum felis. </p>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




