<!-- Breadcumb Area Start -->
<div class="breadcumb-area section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breacumb-content d-flex align-items-center justify-content-between">
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a href="#">politics</a>
                    </div>
                    <p class="editorial-post-date text-dark mb-0">March 29, 2016</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area End -->
<!-- Editorial Area Start -->
<section class="gazatte-editorial-area section_padding_100 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="editorial-post-slides owl-carousel">

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/template/img/blog-img/bitcoin.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Editorial</a>
                                    </div>
                                    <h2><a href="#" class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                    <p class="editorial-post-date mb-15">March 29, 2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/template/img/blog-img/bitcoin.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Editorial</a>
                                    </div>
                                    <h2><a href="#" class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                    <p class="editorial-post-date mb-15">March 29, 2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/template/img/blog-img/bitcoin.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Editorial</a>
                                    </div>
                                    <h2><a href="#" class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                    <p class="editorial-post-date mb-15">March 29, 2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Editorial Post Single Slide -->
                    <div class="editorial-post-single-slide">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="editorial-post-thumb">
                                    <img src="/template/img/blog-img/bitcoin.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="editorial-post-content">
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Editorial</a>
                                    </div>
                                    <h2><a href="#" class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                    <p class="editorial-post-date mb-15">March 29, 2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="catagory-welcome-post-area section_padding_100">
    <div class="container">
        <div class="row">
          
            <div class="col-12 col-md-6">
                <!-- Gazette Welcome Post -->
                <div class="gazette-welcome-post">
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a href="#">Politices</a>
                    </div>
                    <h2 class="font-pt">WaPo: FBI general counsel being reassigned</h2>
                    <p class="gazette-post-date">March 29, 2016</p>
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail my-5">
                        <img src="/template/img/blog-img/21.jpg" alt="post-thumb">
                    </div>
                    <!-- Post Excerpt -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend.</p>
                    <!-- Reading More -->
                    <div class="post-continue-reading-share mt-30">
                        <div class="post-continue-btn">
                            <a href="#" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Gazette Welcome Post -->
                <div class="gazette-welcome-post">
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a href="#">Politices</a>
                    </div>
                    <h2 class="font-pt">What's behind the world obsession with gems?</h2>
                    <p class="gazette-post-date">March 29, 2016</p>
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail my-5">
                        <img src="/template/img/blog-img/22.jpg" alt="post-thumb">
                    </div>
                    <!-- Post Excerpt -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend.</p>
                    <!-- Reading More -->
                    <div class="post-continue-reading-share mt-30">
                        <div class="post-continue-btn">
                            <a href="#" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12">
                <div class="gazette-pagination-area">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>