<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/App.Web.Mvc.styles.css" asp-append-version="true" />

	<!-- Favicon  -->
	<link rel="icon" href="/template/img/core-img/favicon.ico">

	<!-- Core Style CSS -->
	<link rel="stylesheet" href="/template/css/core-style.css">
	<link rel="stylesheet" href="/template/css/style.css">

	<!-- Responsive CSS -->
	<link href="/template/css/responsive.css" rel="stylesheet">
</head>
<body>
	<partial name="_PartialHeader" />

	@*<section class="main-content-wrapper section_padding_100">
		<div class="container">
			<div class="row">*@
				@RenderBody()
@*			</div>
		</div>
	</section>*@

	<partial name="_PartialFooter" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- jQuery (Necessary for All JavaScript Plugins) -->
	<script src="/template/js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="/template/js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/template/js/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="/template/js/plugins.js"></script>
	<!-- Active js -->
	<script src="/template/js/active.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
