<!-- Welcome Blog Slide Area Start -->
<section class="welcome-blog-post-slide owl-carousel">
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/template/img/bg-img/1.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">crypto</a>
            </div>
            <h3><a href="#" class="font-pt">Crypto world goes mad</a></h3>
            <div class="date">
                <a href="#">March 29, 2018</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/template/img/bg-img/2.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">live</a>
            </div>
            <h3><a href="#" class="font-pt">The latest news live</a></h3>
            <div class="date">
                <a href="#">March 29, 2018</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/template/img/bg-img/3.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">politics</a>
            </div>
            <h3><a href="#" class="font-pt">Financial advices </a></h3>
            <div class="date">
                <a href="#">March 29, 2018</a>
            </div>
        </div>
    </div>
    <!-- Single Blog Post -->
    <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(/template/img/bg-img/2.jpg);">
        <!-- Single Blog Post Content -->
        <div class="single-blog-post-content">
            <div class="tags">
                <a href="#">live</a>
            </div>
            <h3><a href="#" class="font-pt">The latest news live</a></h3>
            <div class="date">
                <a href="#">March 29, 2018</a>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Blog Slide Area End -->
