
@{
    ViewData["Title"] = "Hakkımızda";
}

<!-- Breadcumb Area Start -->
<div class="breadcumb-area section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breacumb-content d-flex align-items-center justify-content-between">
                    <h3 class="font-pt mb-0">Hakkımızda</h3>
                    <p class="editorial-post-date text-dark mb-0">09 Nisan 2023</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area End -->

<section class="gazette-about-us-area section_padding_100_70">
    <div class="about-us-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="font-pt mb-30">Biz Kimiz?</h3>
                </div>
                <div class="col-12 col-md-6">
                    <p>Siliconmade Academy olarak senin amaç ve hedeflerini tam ve doğru şekilde tespit edeceğin, birlikte planladığımız bir yol haritasını takip ediyoruz. Yeteneklerine ve eğilimlerine göre, deneyime dayalı programımız boyunca da, toplu ve bire bir çalışmalarla ilgi alanlarını belirliyor, evrensel bir vizyon paylaşabilmek adına disiplinler arası mentorluk sağlıyor; hangi kilitlere anahtar olabileceğinin fotoğrafını çekiyoruz.</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>Geleceğin yetkin ve global yazılımcısı olarak evrensel bilgi ve kolektif vizyonla tam olarak donanmış olmak çok değerli. Bu kişilerin birbiriyle ve çevresiyle temasını sağlayan bir ekosistem ise en büyük güç. Bu yüzden, öğrencilerimizin mezun olduktan sonra, kendilerini bütüne fayda olarak sunabilecekleri, Siliconmade’in güçlü network’üne katılmalarını sağlıyor, bu birlikten çok daha büyük kuvvetler yaratıyoruz. Bütün, parçaların toplamından büyüktür.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area mt-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="font-pt mb-50">Ekibimiz</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/sedat.jpeg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Sedat Kurtuldu</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="https://twitter.com/tambirelegant" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/csdsedat99/" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/sedatkurtuldu/" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/sedatkurtuldu/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/cankatabi.jpeg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Murat Cankat Kök</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="https://twitter.com/mjankatkok" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/muratcankat.kok" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/mjankatkok/" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/muratcankatkok/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/emirhan2.jpg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Emirhan Yılmaz</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="https://twitter.com/emrannyilmaz" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/emrannylm/" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/emirhan-y%C4%B1lmaz-338786248/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/t4.jpg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Berkay Akyüz</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-twitter" target="_blank"></i></a>
                                    <a href="#"><i class="fa fa-facebook" target="_blank"></i></a>
                                    <a href="#"><i class="fa fa-instagram" target="_blank"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" target="_blank"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/elcin.jpeg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Elçin Özgün</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="https://instagram.com/elcinnozgun"><i class="fa fa-instagram" target="_blank"></i></a>
                                    <a href="https://www.linkedin.com/in/elcinozgun"><i class="fa fa-linkedin" target="_blank"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-team-area">
                        <img class="foto" src="/template/img/bg-img/umitcan.jpeg" alt="">
                        <div class="team-member-data">
                            <h4 class="font-pt">Ümit Can Güngör</h4>
                            <div class="team-member-designation-social-info d-flex align-items-cente justify-content-between">
                                <h5 class="font-pt mb-0">Yazılım Geliştiricisi</h5>
                                <div class="social-info">
                                    <a href="https://www.linkedin.com/in/umitcangungor"><i class="fa fa-linkedin" target="_blank"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gazette-cta-area bg-img background-overlay section_padding_100" style="background-image: url(img/blog-img/cta.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="cta-content text-center">
                    <h2 class="font-pt">Ekibimize Katılın!</h2>
                    <p>Sen de bizim gibi ekip olarak proje geliştirmek istiyorsan Siliconmade Academy'e katıl!</p>
                    <a asp-controller="Home" asp-action="ContactUs" class="btn gazette-btn font-pt">Bize Ulaşın<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

