@model Contact
@{
    ViewData["Title"] = "İletişim";
}

<!-- Breadcumb Area End -->

<section class="gazette-contact-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="gazette-heading">
                    <h4 class="font-bold">Bize Ulaşın</h4>
                </div>
                @Html.Raw(TempData["Mesaj"])
                <!-- Contact Form -->
                <form method="post">
                    <div class="form-group">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Ad Soyad">
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" type="email" class="form-control" placeholder="E-Posta">
                    </div>
                    <div class="form-group">
                        <input asp-for="Phone" type="tel" class="form-control" placeholder="Telefon">
                    </div>
                    <div class="form-group">
                        <input asp-for="Subject" type="text" class="form-control" placeholder="Konu">
                        <input asp-for="CreatedAt" type="hidden" value="@DateTime.Now" />
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Message" class="form-control" cols="30" rows="10" placeholder="Mesaj"></textarea>
                    </div>
                    <button onclick="iletisim_formu()" type="submit" class="btn contact-btn">GÖNDER <i class="fa fa-angle-right ml-2"></i></button>
                </form>
            </div>
            <div class="col-12 col-md-4">
                <div class="gazette-heading">
                    <h4 class="font-bold">Adres</h4>
                </div>
                <div class="contact-address-info mb-50">
                    <p> Kemankeş Karamustafa Paşa,<br> Ali Paşa Değirmeni Sk. No:3 <br /> 34560 Beyoğlu/İstanbul</p>
                </div>
                <div class="gazette-heading">
                    <h4 class="font-bold">Telefon</h4>
                </div>
                <div class="contact-address-info">
                    <a href="tel: +90850 272 7454">0850 272 7454</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="googleMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.000243670175!2d28.974454827892064!3d41.02525061308689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab974807d0575%3A0x44089783d1089f31!2sSiliconmade%20Academy!5e0!3m2!1str!2str!4v1680809159191!5m2!1str!2str" style="position: absolute; width: 100%; height: 450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

@section Scripts {
    <script>
        function iletisim_formu() {
            var message = $("#iletisim_formu").serialize();

            $.ajax({
                method: "POST",
                url: "/Iletisim",
                type: "json",
                data: message,
                success: function (data) {
                    console.log(data)
                    document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız Gönderilmiştir... Teşekkürler...");
                },
                error: function (err) {
                    $("#sonuc").show().html("Mesajınız Gönderilemedi!");
                }
            });
        }
    </script>
}

