@model CreateRoleViewModel

@{
	ViewBag.Title = "Rol Ekle";
}

<form asp-action="CreateRole" method="post">
	<div class="border p-3 bg-white mt-5">
		<div class="form-group row">
			<h2 class="text-info pl-3">Rol Ekle</h2>
		</div>
		<div class="row">
			<div class="col-8">
				<div class="form-group row py-2 ">
					<div class="col-4">
						<label asp-for="RoleName"></label>
					</div>
					<div class="col-8">
						<input asp-for="RoleName" class="form-control" autocomplete="off" />
						<span asp-validation-for="RoleName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row py-2 ">
					<div class="col-8 offset-4 row">
						<div class="col">
							<input type="submit" class="btn btn-primary w-100" value="Ekle" />
						</div>
						<div class="col">
							<a asp-action="Index" class="btn btn-success w-100">Geri Dön</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>